.progress-circle {
  width: 160px;
  height: 160px;

  border-radius: 50%;
  --progress: 0;

  background: conic-gradient(blue 0% var(--progress), lightgray var(--progress) 100%);

  mask: radial-gradient(circle 70px, transparent 66px, black 67px);

  transition: all 0.3s;
  margin-bottom: 80px;
}

.progress-circle.animated {
  animation: rotate 1s linear infinite;
}

.progress-circle.hidden {
  opacity: 0;
  pointer-events: none;
}
@media (orientation: landscape) {
  .progress-circle {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 40px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
